/* Reset CSS */
@import url(./normalize.css);

/* Global CSS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    color: var(--black-color);
    font-weight: 500;
}

:root {
    --white-color: #fff;
    --black-color: #222;
    --gray-color: #717171;
    --button-border: #cfcfcf;
    --hover-bg: #f1f1f1;
}

.weight-500 {
    font-weight: 500!important;
}

.weight-600 {
    font-weight: 600!important;
}

.weight-700 {
    font-weight: 700!important;
}

a {
    text-decoration: none;
    color: inherit;
}

.rounded {
    padding: 1.2rem 1.6rem;
    height: 4.0rem;
    border-radius: 2.2rem;
}

.rounded:hover {
    background-color: var(--hover-bg);
}

.btn {
    background-color: var(--white-color);
    border-radius: .8rem;
    color: #222;
    padding: 1.6rem;
    font-weight: 600;
}

.display-mobile {
    display: none!important;
}

.logo--mini {
    color: #ff385c;
}

img {
    width: 100%;
}

/* Header */
.header {
    display: flex;
    position: relative;
    padding: 0 8.0rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.5);
}

.header__container {
    display: flex;
    position: relative;
    height: 8.0rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    background-color: var(--white-color);
    width: 100%;
    max-width: 160.0rem;
}

.header__logo {
    width: 10.0rem;
    height: auto;
    color: #ff385c;
    flex: 1 0 14.0rem;
}
.header__search {
    display: flex;
    align-items: center;
    border: .1rem solid var(--button-border);
    border-radius: 2.5rem;
    min-width: 30.0rem;
    height: 4.8rem;
    box-shadow: rgba(0, 0, 0, 0.03) .0rem .0rem .2rem .2rem, rgba(0, 0, 0, 0.01) .0rem .0rem .6rem .2rem;
    cursor: pointer;
}

.header__search:hover,
.header__search:focus-within {
    box-shadow: rgba(0, 0, 0, 0.2) .0rem .1rem .4rem,rgba(0, 0, 0, 0.08) .0rem .0rem .5rem .2rem;;
}

.search__input {
    padding-left: 2.0rem;
    width: 100%;
    flex: 1;
}

.search__input input {
    border: none;
    outline: none;
    width: 97%;
}


.search__icon {
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: .8rem;
    border-radius: 50%;
    background-color: #ff385c;
    
}

.search__icon a {
    margin: auto;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--white-color);
}

.header-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 14.0rem;
}
.header__lang {
    padding: 1.2rem;
}
.header__account {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: .4rem;
    padding-left: 0;
    border: .1rem solid var(--button-border);
    margin-left: .4rem;
}

.header__account:hover {
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.15) .0rem .3rem .3rem .0rem;
}

.header__account .ti-menu {
    padding: 0 1.4rem;
}

.header__account-icon {
    color: var(--gray-color);
    width: 3.0rem;
}

/* Footer */

.footer {
    padding: 3.6rem 8.0rem 0;
    background-color: #f7f7f7;
    border-top: .1rem solid var(--button-border);
}

.footer__container {
    max-width: 160.0rem;
    margin: auto;
}

.footer a:hover {
    text-decoration: underline;
}

.footer ul {
    list-style: none;
    padding: 0 0 3.6rem;
    margin: 0;
}

.footer li {
    margin: 2.2rem 0;
    font-size: 1.4rem;
}

.footer .nav-item__heading {
    margin: 0;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.footer_ending {
    display: flex;
    justify-content: space-between;
    padding: 2.4rem 0;
    border-top: .1rem solid var(--button-border);
    font-size: 1.4rem;
}

.split-dot {
    display: inline-block;
    width: 1.0rem;
    text-align: center;
    transform: translateY(-.4rem);
    font-weight: 700;
}

.ending-right {
    display: flex;
    font-weight: 700;
}

.ending-right span {
    text-decoration: underline;
}

.footer__currency {
    margin-left: 2.4rem;
}

.footer__social {
    margin-left: 4.8rem;
    display: flex;
    justify-content: space-between;
    width: 12.0rem;
    font-size: 2rem;
}

.ending-right *:hover {
    cursor: pointer;
}

.visible {
    visibility: visible!important;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent
}

.account__menu {
    visibility: hidden;
    list-style: none;
    position: absolute;
    right: 0;
    color: var(--black-color);
    background-color: var(--white-color);
    font-size: 1.6rem;
    width: 24.0rem;
    box-shadow: rgba(14, 30, 37, 0.12) .0rem .2rem .4rem .0rem, rgba(14, 30, 37, 0.32) .0rem .2rem 1.6rem .0rem;
    border-radius: 1.2rem;
    padding: 1.0rem 0;
}

.close-modal {
    display: none;
    position: absolute;
    content: "";
    width: 7.8rem;
    height: 4.0rem;
    right: 15.2rem;
    cursor: pointer;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) .0rem .3rem .3rem .0rem;
    border-radius: 2.2rem;
}

.account__login {
    margin: .0rem ;
    padding: 0;
}

.account__login::after {
    content: "";
    display: block;
    height: .8rem;
    border-bottom: .1rem solid rgba(73, 73, 73, 0.3);
    cursor: default;
}

.account__other::before {
    content: "";
    display: block;
    height: .8rem;
    cursor: default;
}

.account__other {
    margin: .0rem 0;
    padding: 0;
}

.account__menu li {
    display: block;
    list-style: none;
    padding: 1.2rem 1.6rem;
}

.account__menu li:hover {
    background-color: #f1f1f1;
}

.login__item:first-child {
    font-weight: 600;
}

/* Grid system */
.grid {
    display: grid;
    gap: 1.6rem;
}

.grid--3-rows {
    grid-template-columns: repeat(3 , 1fr);
}

.grid--4-rows {
    grid-template-columns: repeat(4 , 1fr);
}

.grid__5-rows {
    grid-template-columns: repeat(5 , 1fr);
}

.grid__6-rows {
    grid-template-columns: repeat(6 , 1fr);
}

/* Responsive */

@media (min-width: 1111px) {
    .content__container {
        padding: 0 8rem;
    }
}

@media (max-width: 1110px) {
    .header,
    .footer,
    .content__container {
        padding-left: 4.0rem;
        padding-right: 4.0rem;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
    }

    .footer__nav-item {
        position: relative;
    }

    .footer__nav-item ul {
        display: flex;
        flex-wrap: wrap;
        margin: .8rem -1.2rem;
        padding-bottom: 1.2rem;
    }

    .footer__nav-item::after {
        position: absolute;
        content: "";
        bottom: .4rem;
        width: 100%;
        height: .1rem;
        background-color: var(--button-border);
    }

    .footer__nav-item ul li {
        width: 33.33%;
        padding: 0 1.2rem;
        margin: .8rem 0;
    }
}

@media (max-width: 932px) {

}

@media (max-width: 726px) {

    .header,
    .footer,
    .content__container {
        padding-left: 2.0rem;
        padding-right: 2.0rem;
    }

    .grid {
        grid-template-columns: 1fr!important;
    }

    .footer__nav-item ul li {
        width: 100%;
    }

    .footer_ending {
        flex-direction: column-reverse;
    }

    .ending-right {
        margin-bottom: .8rem;
    }

    .footer__social {
        display: none;
    }

    .ending-left span:first-child {
        display: block;
        margin-bottom: .8rem;
    }

   
}