
.body {
    background-color: var(--white-color);
}

/* Header */
.header {
    position: fixed;
    visibility: hidden;
    z-index: 1;
}

/* Poster */
.poster {
    position: relative;
}

.poster img {
    width: 100%;
    height: 88.2rem;
    object-fit: cover;
    object-position: center bottom;
    vertical-align: bottom
}

.covid-notify {
    width: 100%;
    text-align: center;
    position: absolute;
    min-height: 5.8rem;
    background-color: var(--black-color);
}

.covid-notify a {
    color: #a3a3a3;
    font-size: 1.4rem;
    text-decoration: underline;
    line-height: 5.8rem;
    text-align: center;
    font-weight: 600;
}

.poster__header {
    visibility: visible;
    position: absolute;
    top: 5.8rem;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
    color: var(--white-color);
    box-shadow: none;
    z-index: unset;
}

.poster__header__container {
    background-color: transparent;
}

.poster__header__logo {
    width: 10rem;
    height: auto;
    color: var(--white-color);
    flex: 1 0 14rem !important;
}

.poster__header__center {
    font-size: 1.6rem;
    display: flex;
    
    /* transform: translateX(23%); */
}

.poster__center-item {
    padding: 1rem 1.4rem;
    cursor: pointer;
    position: relative;
}

.poster__center-item::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 0.8rem;
    height: 0.2rem;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.poster__center-item:hover::after{
    width: 1.6rem;
}

.header__lang {
    padding: 1.2rem;
}

.poster__header .rounded:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.poster__header__account {
    background-color: var(--white-color)!important;
    color: var(--gray-color);
}

.poster__search {
    width: 90%;
    max-width: 85rem;
    height: 6.7rem;
    background-color: var(--white-color);
    position: absolute;
    top: 13.8rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3.5rem;
    display: flex;
    align-items: center;
}

.poster__search__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 0 0 3.6rem;
    border-radius: 3.5rem;
    height: 100%;
    cursor: pointer;
}

.poster__search__item:hover {
    background-color: var(--hover-bg);
}

.poster__search__item:hover::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 50%;
    background-color: rgb(255, 255, 255);
    left: -1px;
}

.poster__search__item:first-child::before {
    display: none;
}

.poster__search__item:last-child::after {
    display: none;
}

.poster__search__item:hover::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 50%;
    background-color: rgb(255, 255, 255);
    right: -1px;
}

.poster__search__item h4 {
    margin: 0 0 0.4rem;
    font-size: 1.2rem;
}

.poster__search__item p {
    margin: 0;
    font-size: 1.4rem;
    color: var(--gray-color);
}

.search__item__input {
    font-size: 1.4rem;
    border: none;
    outline: none;
    width: 90%;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search__item__input::placeholder {
    color: var(--gray-color);
}

.poster__search__item:first-child:hover .search__item__input {
    background-color: var(--hover-bg);
}

.poster__search__item:first-child {
    flex: 2;
}

.poster__search__item:last-child {
    flex: 1.8;
}

.divider {
    height: 50%;
    width: 1px;
    background-color: var(--button-border);
}

.poster__search__icon {
    background-color: #ff385c;
    height: 4.8rem;
    width: 4.8rem;
    display: flex;
    border-radius: 50%;
    position: absolute;
    right: 0.8rem;
}

.poster__search__icon:hover {
    filter: brightness(0.95);
}

.poster__search__icon .ti-search {
    margin: auto;
    color: var(--white-color);
    font-weight: 600;
}

.poster__flex-search {
    position: absolute;
    bottom: 28.5rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.poster__flex-search h3 {
    margin: 1.6rem 0;
}

.flex-search__button {
    display: block;
    height: 6.7rem;
    text-align: center;
    background-color: var(--white-color);
    border-radius: 3.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0rem .4rem 1.6rem,
                rgba(17, 17, 26, 0.1) 0rem .8rem 2.4rem, 
                rgba(17, 17, 26, 0.1) 0rem 1.6rem 5.6rem;
}

.flex-search__button div {
    line-height: 6.7rem;
    background: linear-gradient(90deg, rgba(113,1,155,1) 0%, rgb(238, 0, 182) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 1.8rem;
}

.poster__search--mobile {
    display: none;
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white-color);
    border-radius: 2.5rem;
    padding: 1.4rem;
    width: 85%;
    justify-content: center;
    font-weight: 800;

}

.search--mobile__icon {
    color: #ff385c;
    margin-right: 1rem;
}

.search--mobile__icon span {
    font-weight: 800;
}


/* Content */


.content {
    padding: 3rem 0 0;
    width: 100%;
    max-width: 160rem;
    margin: auto;
}

.content h2 {
    margin: 0 0 2.4rem;
    font-size: 3.2rem;
}

.experiences,
.become-host,
.anywhere,
.near-here {
    padding-bottom: 6.4rem;
}

.near-here__item {
    display: flex;
    align-items: center;
}

.near-here__item b {
    margin: 0;
    font-size: 1.6rem;
}

.near-here__item p {
    margin: 0;
    font-size: 1.6rem;
}

.near-here__item img {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: .8rem;
}

.item-text {
    padding: 1rem 1.6rem;
}

.anywhere__item img {
    object-fit: cover;
    width: 100%;
    border-radius: .8rem;
}

.anywhere__item b {
    display: block;
    font-size: 1.8rem;
    margin-top: .8rem;
}

.become-host {
    position: relative;
    text-shadow: 0rem 0rem .4rem black;
}

.become-host img {
    width: 100%;
    height: 48.2rem;
    object-fit: cover;
    object-position: 50% 50%;
    vertical-align: bottom;
    border-radius: 1.6rem;
}

.become-host__text {
    position: absolute;
    top: 20%;
    left: 5%;
    color: var(--white-color);
}

.become-host__text h2 {
    font-size: 4.8rem;
    margin-bottom: 1.6rem;
    font-weight: 600;
}

.become-host__text .btn {
    display: inline-block;
    color: #222;
    margin-top: 4rem;
    text-shadow: none;
}

.experiences__item img {
    width: 100%;
    border-radius: 1.2rem;
}

.experiences__item b {
    display: block;
    font-size: 1.8rem;
    margin-top: .8rem;
}

.experiences__item p {
    font-size: 1.4rem;
    margin-top: .8rem;
}
